For each individual small box:
.sub-container{
display: block;
width: 250px;
height: 250ox;
border: red 1px solid;


/* Do 4 boxes, its parent defined ? as: */
.container{
 display: flex;
 justify-content: center; /*| space-around| space-between| space-evently */  
 flex-direction: row; /*|column;*/
 flex-wrap: wrap;


align-items: center; /* horizontally, used when parent container has finite height for rows of item (flex-direction: row|). For column of item it will center the column of item flex-direction: column*/
height: 900px; /*what height of what item, height of the parent container*/
}

/******************************************************************************************************************/
1.pseudo-class
sub-containter::hover{
}

2. pseudo-element
this makes 1st letter render differently

sub-containter::first-element{
}
/*******************************************************************************************************************/
Extract secret text of html tag such as h1
data-dataattributename

<h1 data-secret="my secret message">Box1</h1>

h1[data-secret]:hover::after{
  content:attr(data-secret);
  margin-top: 10px;
  color: violet;
}

img[src*="200"]{
  border: red 5px solid;
}

<img src="http://wheremystuff.org/200" />

/* developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors 
attr*=value
element with an attribute name of attr (src) whose value contains at least 1 occurence of "value" within the string
a[href*="example"] {
  border: red 5px solid;
}
*/
@media screen and (max-width: 980) {
  body{
    background-color: rgb(128, 155, 178);
    font-size: 125%;
  }
}

@media screen and (max-width: 768) {
  body{
    background-color:rgb(140, 175, 199);
    font-size: 125%;
  }
}

@media screen and (max-width: 575) {
  body{
    background-color: rgb(168, 195, 218);
    font-size: 125%;
  }
}
